<!-- //Can't get my boilerplate and end to see my stylesheet -->
<% include ../partials/boilerplate %>
<h3>Social Scene Login</h3>
<section class="form">
  <form method="POST" action="/auth/login">
    <div class="field">
      <p>
        <input class="input" type="text" placeholder="full name" name="name">
      </p>
    </div>
    <div class="field">
      <p>
        <input class="input" type="password" placeholder="Password" name="password">
      </p>
    </div>
    <div class="field">
      <p>
        <input type='submit' value='Log in!' class="button" />
      </p>
    </div>
  </form>
</div>

<% include ../partials/end %>
