<% include ../partials/boilerplate %>

<img src="../profile.jpg" alt="Placeholder for a User Profile Pic">
<a href="/user/event">Create a Event</a>
<div class="hosted-events">Hosted Events</div>

<%=events%>

<% include ../partials/end %>
