<% include ../partials/boilerplate %>

<img src="profile.jpg" alt="Placeholder for a User Profile Pic">
<div class="invited-events">Invited Events</div>
<div class="upcoming-events">Upcoming Events</div>
<div class="hosted-events">Hosted Events</div>


<% include ../partials/end %>
